<!-- Header with the website name and navigation -->
<header>
    <a href="/" aria-label="Home" role="link" class="logo">
        Code-Navigator
    </a>
    <nav aria-label="Main Navigation" role="navigation">
        {{> ../02-molecules/nav-list }}
    </nav>
</header>
