<!-- Header with the website name and navigation -->
<header>
    <h1>Code-Navigator</h1>
    <nav aria-label="Main Navigation" role="navigation">
        {{> ../02-molecules/nav-list }}
    </nav>
</header>
