<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body class="no-js">
{{> ../03-organisms/navigation }}
{{> ../03-organisms/typography-test }}
{{> ../03-organisms/footer }}
</body>
</html>
