<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body class="no-js">
<!-- Skip link for screen readers -->
<a href="#main-content" class="sr-only skip-link">Skip to main content</a>
{{> ../03-organisms/header }}
<main id="main-content">
    {{> ../02-molecules/sidebar-layout }}
    {{> ../02-molecules/typography-test }}
</main>
{{> ../03-organisms/footer }}
</body>
</html>
