.text-center
  text-align: center

.text-start
  text-align: start

.text-end
  text-align: end

.color-primary
  color: var(--color-primary)

.color-secondary
  color: var(--color-secondary)

.color-accent
  color: var(--color-accent)

.color-warning
  color: var(--color-warning)

.color-success
  color: var(--color-success)
