// Typography
// Source: Utopia.fy

body {
  font-family: var(--font-family-base);
  font-size: var(--font-family-base);
  line-height: 1.6;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-accent);
  line-height: 1.1;
}

h1 {
  font-size: var(--font-size-xxxl);
  --flow-space: 2em;
  @supports (text-wrap: balance) {
    text-wrap: balance;
  }
}

h2 {
  font-size: var(--font-size-xxl);
  --flow-space: 1.5em;
  @supports (text-wrap: balance) {
    text-wrap: balance;
  }
}

h3 {
  font-size: var(--font-size-xl);
  --flow-space: 1.3em;
  @supports (text-wrap: balance) {
    text-wrap: balance;
  }
}

h4 {
  font-size: var(--font-size-lg);
  --flow-space: 1.2em;
  @supports (text-wrap: balance) {
    text-wrap: balance;
  }
}

h5 {
  font-size: var(--font-size-md);
  --flow-space: 1.1em;
  @supports (text-wrap: balance) {
    text-wrap: balance;
  }
}

h6 {
  font-size: var(--font-size-base);
  --flow-space: 1em;
  @supports (text-wrap: balance) {
    text-wrap: balance;
  }
}


