<div class="main-grid">
    <section class="feature card-grid">
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
        <article class="card">
            <h2>A card</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris</p>
            <p><a href="#" class="btn">A button</a></p>
        </article>
    </section>

    <section class="feature with-sidebar">
        <article class="fluid-typography">
            <h1>Hello World</h1>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Nullam accumsan lorem in dui. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Phasellus gravida semper nisi. In ut quam vitae odio lacinia tincidunt.</p>
            <h2>Hello World</h2>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Nullam accumsan lorem in dui. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Phasellus gravida semper nisi. In ut quam vitae odio lacinia tincidunt.</p>
            <h3>Hello World</h3>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Nullam accumsan lorem in dui. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Phasellus gravida semper nisi. In ut quam vitae odio lacinia tincidunt.</p>
            <h4>Hello World</h4>
            <p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Nullam accumsan lorem in dui. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Phasellus gravida semper nisi. In ut quam vitae odio lacinia tincidunt.</p>
        </article>
        <aside class="fluid-typography">
            <ul>
                <li>Some</li>
                <li>Content</li>
                <li>Goes</li>
                <li><a href="#">Here.</a></li>
            </ul>
        </aside>
    </section>
</div>

